# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native builds
android/
ios/build/
ios/Pods/
ios/Podfile.lock

# Environment
.env
.env.local
.env.*.local

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Credentials & certificates
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# EAS
.easignore

# Metro bundler cache
.metro-health-check*
